/*
 * Copyright (c) 2019 Jan Van Winkel <jan.van_winkel@dxplore.eu>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {

};

&spi3 {
	status = "okay";
	cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;	/* D10 */
};
